body{
    font-family: 'Open Sans', sans-serif;
}
/* header realeated all color */
header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.text-primary{
    color: var(--white-color, #FD6E0A);
}

nav> ul> li> button{

    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
height: 40px;
flex-shrink: 0;
}
.nav-title{
    color: #181818;
font-size: 45px;

font-weight: 800;

}
nav > ul{
    display: flex;
   
}
nav >ul >li>a{
    margin-right: 51px;
    color: var(--dark-02, #474747);
}
    
/* header realeated all color */
.banner{
    display: flex;
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 500px 400px;
}
.hardy-img{
    width: 300px;
height: 400px;
padding: 50px;
margin: 0 50 20 30;


}
.banner > .portfolio{
    color: var(--dark-01, #181818);

font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about{
    border-radius: 10px;
    background-color: #FFF8F3;
}
.about > h3{
    
    padding-left: 550px;
    margin: 10px;
    padding-top: 50px;
    
    
}
.about > p{
    padding: 50px 200px 20px 200px;
    border-radius: 20px;
    border: 2px solid #FFF8F3;
    display: justify;
}
.about-info{
    display: flex;
   justify-content: space-around;
   align-items: center;
}
   